<h1>Editing Report Parameter Datum</h1>

<%= render 'form', report_parameter_datum: @report_parameter_datum %>

<%= link_to 'Show', @report_parameter_datum %> |
<%= link_to 'Back', report_parameter_data_path %>
